$Mobile-breakpoint: 375px;
$Desktop-breakpoint: 1440px;
/* Primary */
$Bright-Blue: hsl(220, 98%, 61%);
$Check-Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
/* Neutral */
/* Light Theme */
$Very-Light-Gray: hsl(0, 0%, 98%);
$Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
$Light-Grayish-Blue: hsl(233, 11%, 84%);
$Dark-Grayish-Blue: hsl(236, 9%, 61%);
$Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);
/* Dark Theme */
$Very-Dark-Blue: hsl(235, 21%, 11%);
$Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
// $Light-Grayish-Blue: hsl(234, 39%, 85%);
$Light-Grayish-Blue-hover: hsl(236, 33%, 92%); // (hover)
$Dark-Grayish-Blue: hsl(234, 11%, 52%);
$Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
$Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);

:root {
  --background-color: #{$Very-Light-Gray};
  --body-font-size: 18px;
  --font-weight-400: 400;
  --font-weight-700: 700;
  --font-family: "Josefin Sans", sans-serif;
  --element-color: white;
  --font-color: #{$Very-Dark-Blue};
  --border-color: #{$Light-Grayish-Blue};
  --display-completed-false: flex;
  --display-completed-true: flex;
  // --box-shadow-one: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/* Typography */
