@use "./_reset";
@use "./_root";
@use "./_common";
@use "./_mockup";

body {
  background-color: var(--background-color);
  font-family: var(--font-family);
  font-size: var(--font-weight-400);
  font-size: 18px;
  color: var(--font-color);
}

.hero-image-container {
  position: relative;
  max-height: 265px;
  min-height: 207px;
  #hero-image {
    width: 100%;
    height: 100%;
    min-height: 207px;
    max-height: 265px;
    object-fit: cover;
  }
  &::after {
    content: "";
    position: absolute;
    height: calc(100% - 6px);
    // height: calc(100%);
    width: 100%;
    z-index: 20;
    top: 0;
    left: 0;
    // background-color: #fc00ff;
    // background-image: linear-gradient(90deg, #fc00ff 0%, #00dbde 100%);
    background-color: #fc00ff;
    background-image: linear-gradient(
      90deg,
      #fc00ff 0%,
      #138de3 74%,
      #00dbde 100%
    );

    opacity: 0.4;
  }
}

header {
  .centering-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    // top: 0;
    // top: minmax(0, 300px);
    // top: max(0, calc(3vw * 10));
    top: clamp(1px, calc(1vw * 14.5), 100px);
    // left: 0;
    // right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 40;
    .title {
      // padding: 3rem 0 1.5rem 0;
      //   font-size: 2rem;
      color: white;
      //   color: red;
      letter-spacing: 4px;
      font-size: 2rem;
      //   font-size: clamp(2rem, 2.5vw, 4rem);
    }
  }
}

.todo-container {
  z-index: 60;
  position: absolute;
  //   top: 120px;
  top: clamp(60px, calc(2.5vw * 12), 150px);
  //   left: 0;
  //   right: 0;
  margin-left: auto;
  margin-right: auto;
  //   background-color: yellowgreen;

  .input-task-container {
    position: relative;
    #input-task {
      width: 100%;
      height: 50px;
      outline: none;
      border: 0;
      border-radius: 8px;
      padding-left: 3.4rem;
      background-color: var(--background-color);
      color: var(--font-color);
    }
    &::after {
      content: "";
      position: absolute;
      height: 1.4rem;
      // height: calc(100%);
      //   background-color: black;
      width: 1.4rem;
      top: 50%;
      transform: translateY(-50%);
      left: 1.5rem;
      border-radius: 50%;
      border: 1px solid var(--border-color);
      display: flex;
    }
  }

  .task-view {
    // box-shadow: var(--box-shadow-one);
    // background-color: yellowgreen;
  }
}

.pcbuttons {
  display: none;
  @media only screen and (min-width: 700px) {
    display: flex;
    justify-content: center;
    background-color: var(--element-color);
    gap: 15px;

    p {
      margin: 0;
      transition: all 0.2s ease-in;
      cursor: pointer;
      &:hover {
        color: hsl(220, 98%, 61%);
      }
    }
    // display: block;
  }
}

.mobile-buttons {
  // display: block;
  @media only screen and (min-width: 700px) {
    display: none;
  }
}

.clear {
  transition: all 0.2s ease-in;
  cursor: pointer;
  &:hover {
    color: hsl(32, 84%, 52%);
  }
}

#theme {
  opacity: 0;
  position: absolute;
}

#theme-label {
  // background-color: red;
  cursor: pointer !important;
  // z-index: 1000;
}

// modifying the svg color directly doesn't work here
// .delete-image {
//   fill: white !important;
//   color: white;
//   color: #6a6d90;
// }

.blue-background-class {
  // background-color: red;
  border-bottom: 4px var(--move-border-color) solid;
  // scale: ;
}

.sortable-chosen {
  // transition: all 0.3s ease-in;
  transition: all 0.1s ease-out;
  transform: scale(1);
  // background-color: red;
}
